body {
	margin: auto;
	width: 450px;
}

.gametitle {
	padding: 20px;
	font-size: 70px;
	text-align: center;

}

p {
	font-family: helvetica;
	text-align: center;

}

ul li {
	list-style-type: none;
}

.offer {
	color: #00FF00;
}

.talentRow {
	display: table-row;
	background-color: #BBFFBB;
}

.talentRow:hover{
	background-color: #00FF00;
}

.talentColumn{
    display: table-cell;    
}

